[submodule "dep/cargo/kit"]
	path = dep/cargo/kit
	url = ssh://cargo-cult/home/bsilverthorn/git/cargo/kit
[submodule "dep/third/argosat"]
	path = dep/third/argosat
	url = git@github.com:bsilverthorn/argosat.git
[submodule "dep/third/sqlalchemy"]
	path = dep/third/sqlalchemy
	url = git@github.com:bsilverthorn/sqlalchemy.git
[submodule "dep/third/satenstein"]
	path = dep/third/satenstein
	url = ssh://cargo-cult/home/bsilverthorn/git/third/satenstein
