/*
 * GLOBAL RULES
 */

html {
    font-family: "Nobile", sans-serif;
    font-size: 12px;
    line-height: 20px;
    background-color: white;
    color: black;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
}

h1 { font-weight: bold; }

select { width: 180px; }

p { margin-bottom: 20px; }

nav a { display: block; }

/*
 * JQUERY UI CUSTOMIZATION
 */

.ui-selectmenu {
    font-family: inherit;
    height: 18px;
}

.ui-selectmenu-status {
    padding-top: 0px;
    line-height: 18px;
}

/*
 * SIDEBAR
 */

aside {
    position: fixed;
    top: -10px;
    left: 0px;
    width: 180px;
    height: 100%;
    padding: 20px;
    padding-top: 30px;
    text-align: left;
    box-shadow: 0px 0px 20px #AAA;
}

aside > section { margin-bottom: 20px; }

aside > footer {
    position: fixed;
    left: 20px;
    bottom: 20px;
}

/*
 * RUNS TABLE
 */

#bv-runs-table { display: inline-block; }

#bv-runs-table-header {
    background-color: rgba(255, 255, 255, 0.9);
    position: relative;
    padding-top: 4px;
    padding-bottom: 4px;
    z-index: 10;
}

#bv-table-container {
    position: absolute;
    top: 20px;
    left: 240px;
}

#header-ui-controls { float: right; }

.solver-name-outer {
    display: inline-block;
    z-index: -1;
}

.solver-name {
    padding-left: 4px;
    font-weight: bold;
    white-space: nowrap;
}

#runs-list .ui-selecting {
    background: #FECA40;
}

#runs-list .ui-selected {
    outline: #789898 2px solid;
    background: #F39814;
    color: white;
}

#row-interface {
    display: none;
    position: absolute;
    right: 0px;
    margin-right: 20px;
}

.instance-runs {
    display: block;
    height: 25px;
    padding-right: 4px;
}

.instance-run {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
}

.instance-run.highlighted {
    outline: 3px solid rgba(102, 102, 255, 0.75);
    z-index: 4;
}

.instance-title {
    margin-left: 20px;
    float: right;
    font-weight: bold;
    line-height: 25px;
}

.cell-label {
    position: relative;
    float: left;
    left: 30px;
    background: rgba(255, 255, 255, 0.75);
    font-weight: bold;
    color: #6666ff;
    z-index: 6;
    white-space: nowrap;
}

/*
 * CLUSTER VIEW
 */

#bv-projection-container {
    position: absolute;
    top: 20px;
    left: 240px;
    right: 20px;
    bottom: 220px;
    width: auto;
    height: auto;
    cursor: crosshair;
}

#bv-projection-title {
    font-weight: bold;
    position: absolute;
    top: 4px;
    left: 8px;
}

#bv-projection-border {
    fill-opacity: 0.0;
    stroke-width: 1;
    stroke-opacity: 0.5;
    stroke-dasharray: 5, 5;
    pointer-events: none;
}

#bv-projection-border.highlighted { stroke-opacity: 1.0; }

.instance-point {
    stroke: black;
    stroke-opacity: 0.5;
    stroke-width: 3;
    fill: black;
    fill-opacity: 0.5;
}

.bv-instance-number {
    fill: white;
    opacity: 0.6;
    text-anchor: middle;
    font-weight: bold;
    pointer-events: none;
}

.instance-point.highlighted {
    stroke: #6666ff;
    fill: #6666ff;
    stroke-opacity: 0.8;
}

.instance-label { pointer-events: none; }

.instance-label > text {
    fill: #6666ff;
    font-weight: bold;
}

.instance-label > rect {
    fill: white;
    fill-opacity: 0.75;
}

.selection-region {
    fill-opacity: 0.1;
    stroke-width: 1;
    stroke-opacity: 0.5;
    stroke-dasharray: 5, 5;
    pointer-events: stroke;
}

.selection-region.highlighted {
    stroke-opacity: 1.0;
    stroke-dasharray: none;
    cursor: move;
}

#bv-chart-container {
    position: absolute;
    overflow: hidden;
    height: 200px;
    left: 240px;
    right: 20px;
    bottom: 0px;
}

g.series { fill-opacity: 0.5; }

g.series > rect {
    stroke-width: 1;
}

g.series > rect.highlighted { fill: black; }

#selections-list > li { margin-left: 1px; }

#selections-list > li.hidden { text-decoration: line-through; }

#selections-list > li > .ui-icon {
    display: inline-block;
    height: 17px;
    width: 17px;
    position: relative;
    right: 2px;
    vertical-align: bottom;
    cursor: pointer;
}

#selections-list > li > .ui-icon:hover { outline: 1px #aaaaaa solid; }

.bv-selection-name:hover {
    border-bottom: 1px dotted #000000;
    cursor: pointer;
    /* XXX selection names should be anchors */
}

.tick,
.tick-line {
    stroke: #aaaaaa;
    stroke-opacity: 0.25;
    stroke-width: 1;
}

