body {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    background-color: white;
    color: black;
}

h1 {
    font-weight: bold;
}

select {
    width: 200px;
}

#introduction {
    text-align: left;
    height: 64px;
    margin-bottom: 10px;
}

#introduction h1 {
    display: inline;
    font-size: 50px;
    line-height: 64px;
}

#introduction img {
    float: right;
}

#runs-table {
    position: relative;
    display: inline-block;
    text-align: left;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

#runs-list .ui-selecting {
    background: #FECA40;
}

#runs-list .ui-selected {
    outline: #789898 2px solid;
    background: #F39814;
    color: white;
}

#table-header {
    background-color: rgba(255, 255, 255, 0.9);
    position: relative;
    top: 0px;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 4px;
}

#row-interface {
    display: none;
    position: absolute;
    right: 0px;
    margin-right: 20px;
}

#header-ui-controls {
    float: right;
}

.solver-name-outer {
    display: inline-block;
    z-index: -1;
}

.solver-name {
    padding-left: 8px;
    font-weight: bold;
    white-space: nowrap;
}

.category-name {
    font-family: monospace;
}

.instance-runs {
    display: block;
    height: 25px;
    padding-right: 4px;
}

.instance-run {
    display: inline-block;
    width: 25px;
    height: 25px;
}

.instance-title {
    margin-left: 20px;
    float: right;
    font-weight: bold;
    line-height: 25px;
}

