/*
 * GLOBAL RULES
 */

html {
    font-family: "Nobile", sans-serif;
    font-size: 12px;
    line-height: 18px;
    background-color: white;
    color: black;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
}

h1 {
    font-weight: bold;
}

select {
    width: 200px;
}

nav a {
    display: block;
}

/*
 * SIDEBAR
 */

aside {
    position: fixed;
    top: -10px;
    left: 0px;
    width: 180px;
    height: 100%;
    padding: 20px;
    padding-top: 30px;
    text-align: left;
    box-shadow: 0px 0px 20px #AAA;
}

aside > section {
    margin-bottom: 20px;
}

aside > footer {
    position: fixed;
    left: 20px;
    bottom: 20px;
}

/*
 * RUNS TABLE
 */

#runs-table {
    position: absolute;
    /*top: 20px;*/
    /*left: 220px;*/
}

#runs-table > header {
    background-color: rgba(255, 255, 255, 0.9);
    position: relative;
    padding-top: 4px;
    padding-bottom: 4px;
}

#header-ui-controls {
    float: right;
}

.solver-name-outer {
    display: inline-block;
    z-index: -1;
}

.solver-name {
    padding-left: 4px;
    font-weight: bold;
    white-space: nowrap;
}

/*
 * OTHER RULES
 */

#runs-list .ui-selecting {
    background: #FECA40;
}

#runs-list .ui-selected {
    outline: #789898 2px solid;
    background: #F39814;
    color: white;
}

#row-interface {
    display: none;
    position: absolute;
    right: 0px;
    margin-right: 20px;
}

.instance-runs {
    display: block;
    height: 25px;
    padding-right: 4px;
}

.instance-run {
    display: inline-block;
    width: 25px;
    height: 25px;
}

.instance-title {
    margin-left: 20px;
    float: right;
    font-weight: bold;
    line-height: 25px;
}

/*
 * CLUSTER VIEW
 */

#display {
    position: absolute;
    top: 20px;
    left: 240px;
    right: 20px;
    bottom: 220px;
    width: auto;
    height: auto;
}

#density-plot-area {
    position: absolute;
    overflow: hidden;
    height: 200px;
    left: 240px;
    right: 20px;
    bottom: 0px;
}

#density-plot rect {
    fill: rgba(128, 128, 128, 0.5);
    stroke: white;
    stroke-width: 1;
}

#density-select {
    width: 160px;
}

#in-progress-selection {
    fill: rgba(22, 128, 55, 0.2);
}

