<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8"> 
<title>borg:view</title>
<base href="{{ base_url }}"> 
<link rel="stylesheet" href="http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Nobile:regular,bold">
<link rel="stylesheet" href="jquery-ui-1.8.12/css/ui-lightness/jquery-ui-1.8.12.custom.css">
<link rel="stylesheet" href="ui.selectmenu.css">
<link rel="stylesheet" href="borgview.css">
<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.min.js"></script>
<script type="text/javascript" src="jquery-ui-1.8.12/js/jquery-ui-1.8.12.custom.min.js"></script>
<script type="text/javascript" src="ui.selectmenu.js"></script>
<script type="text/javascript" src="mbostock-d3-c4a153e/d3.js"></script>
<script type="text/javascript" src="mbostock-d3-c4a153e/d3.geom.js"></script>
<script type="text/javascript" src="mbostock-d3-c4a153e/d3.layout.js"></script>
<script type="text/javascript" src="borgview.js"></script>
</head>
<body>

<aside>
    <section id="change-data">
        <header><h1>Data Set</h1></header>
        <nav></nav>
    </section>

    <section id="change-view">
        <header><h1>Visualization</h1></header>
        <nav></nav>
    </section>

    <section id="configuration-section">
        <header><h1>Configuration</h1></header>
        <nav></nav>
    </section>

    <footer>
        <img src="images/borg-cube-64.png">
    </footer>
</aside>

<section id="display"></section>

</body>
</html>

