<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8"> 
<title>borg:view</title>
<link rel="stylesheet" href="http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css">
<link rel="stylesheet" href="borgview.css">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Nobile:regular,bold">
<link rel="stylesheet" href="jquery-ui-1.8.12/css/ui-lightness/jquery-ui-1.8.12.custom.css">
<link rel="stylesheet" href="ui.selectmenu.css">
<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.min.js"></script>
<script type="text/javascript" src="jquery-ui-1.8.12/js/jquery-ui-1.8.12.custom.min.js"></script>
<script type="text/javascript" src="ui.selectmenu.js"></script>
<script type="text/javascript" src="mbostock-d3-c4a153e/d3.js"></script>
<script type="text/javascript" src="borgview.js"></script>
</head>
<body>

<aside>
    <section id="data-sets-section">
        <header><h1>Data Set</h1></header>
        <nav></nav>
    </section>

    <section>
        <header><h1>Visualization</h1></header>
        <nav>
            <a href="">Tabular View</a>
            <a href="">Projection View</a>
        </nav>
    </section>

    <section>
        <header><h1>Configuration</h1></header>
        <ul>
            <li>Sort By ...</li>
            <li>Distinguish S/U</li>
        </ul>
    </section>

    <footer>
        <img src="images/borg-cube-64.png">
        <h1>borg:view</h1>
    </footer>
</aside>

<!--<section id="runs-table">-->
    <!--<header>-->
        <!--<form id="header-ui-controls">-->
            <!--[><label for="row-order-select">Order Rows By:</label><]-->
            <!--<select id="row-order-select">-->
                <!--<option value="byName">Sort by Name</option>-->
                <!--<option value="byTotalCost">Sort by Total Cost</option>-->
                <!--<option value="bySimilarity">Sort by Similarity</option>-->
            <!--</select>-->
        <!--</form>-->
    <!--</header>-->
    <!--<ul id="runs-list"></ul>-->
    <!--<form id="row-interface">-->
        <!--<button class="raise-button">Raise</button>-->
    <!--</form>-->
<!--</section>-->

<section id="visualization">
    <svg id="instance-projection"></svg>
</section>

</body>
</html>

