<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8"> 
<title>borg:view</title>
<link rel="stylesheet" href="borgview.css" type="text/css">
<script type="text/javascript" src="protovis-3.2/protovis-d3.2.js"></script>
<script type="text/javascript" src="borgview.js"></script>
</head>
<body>
{% for tclass_data in tclass_data_sets %}
<p>
<h2>tclass</h2>
<script type="text/javascript">
renderTClassGrid({{ tclass_data.tolist() }}, {{ names }}, {{ budgets }});
</script>
</p>
{% endfor %}
</body>
</html>

